{% extends 'main/index.html' %}

{% block osobennosti %}
    <div >
         {% block category %} {{ block.super }}
        {% endblock %}

        <div class="test1">
            <h1>{{ news_detail.title }}</h1>
            {{ news_detail.anons }}
            {{ news_detail.full_text }}
            {{ news_detail.date_publication }}
            <a href="{% url 'news_category' news_detail.category.pk %}"><button type="button" class="btn btn-outline-secondary">Назад</button></a>
        </div>
    </div>
{% endblock %}



