{% extends 'main/index.html' %}
{% block title %} Pugsnotdrugs {% endblock %}

{% block osobennosti %}
    {% block category %}
        <div class="login-form card">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'news' %}"><h3> Все категории {{ mixin_prop }}{{ test_slug }}{{ sin_sobakig }}</h3></a>
                            <span class="badge bg-primary rounded-pill"> {{ b|length }} </span>
                        </li>
                    {% for item in all_category %}
                        {{ item.pk }}
                        {{ item.sin_sobaki }}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'news_category' item.pk %}"><h3> {{ item }} </h3></a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    {% endblock %}
    <form method="GET">
        {% csrf_token %}
        <input name="search" placeholder="{{ text }}">
        <a href="{% url 'news' %}"><button type="submit">Найти</button></a>
    </form>
    {% for p in page_obj %}
        <a href="{% url 'news_detail' p.pk %}">{{ p.title }}</a><br>
        {{ p.category }}<br>
        {{ p.anons }}<br>
        {{ p.date_publication | date:"D d M Y" }}<br>
        <hr>
    {% endfor %}
    {% for p in page_obj.paginator.page_range %}

        <a href="?page={{ p }}">{{ p }}</a>
    {% endfor %}
    <h3>{{ page_obj.number }}</h3>
{% endblock %}